@charset "UTF-8";
/* ตัวแปรค่าสี */
body {
    background: #eee;

}
.main-body {
  background: #ecf0f5;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
}
.navbar-custom{
    background: #5482ab;
}
.navbar-footer{
    background: #5482ab;
    min-height: 0px;
    height: 30px;
}

.header-inner {
  margin: 0 auto;
  max-width: 978px;
}

.header-right {
  line-height: 66px;
  text-align: right;
}

.btn.header-sign-up {
  border-color: #0061D5;
  color: #0061D5;
}

.main-login {
  max-width: 420px;
  margin: 70px auto;
}

.login-container {
  background: #FFFFFF;
  border-radius: 3px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.login-container h1 {
  font-size: 26px;
  line-height: 30px;
  padding-bottom: 10px;
  text-align: center;
}

.form-field  {
  color: #666;
  display: block;
  font-family: Lato,sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 28px;
}

.form-field {
  display: block;
  margin-bottom: 10px;
}

 .inp-full-width {
  display: block;
  width: 100%;
}

input[type="text"], input[type="password"], input[type="email"], input[type="date"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.btn-full-width {
  margin: 0;
  width: 100%;
}

.form-buttons {
  margin-top: 25px;
  margin-bottom: 25px;
  position: relative;
}

.btn-primary {
  background-image: linear-gradient(to bottom, #0061D5 0%, #005cca 100%);
}

.btn-link {
  text-align: center;
}

.main-footer {
  padding: 5px;
  color: #eee;

}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #222D32;
        border-right: 1px solid #eee;
        height: 100%;
        padding-top: 50px;
        min-height: 100%;
    }
}


.navbar-nav > li > a {
    color: #fff;
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    color: #b8c7ce;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #4b646f;
    background: #1a2226;
    border-left: 2px solid #3c8dbc;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #23527c;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #23527c;
    border-color: #337ab7;
}

.list-group > a {
    background-color: #3d515c;
    color: #b8c7ce;
    border: #3d515c;
}
a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    color: #b8c7ce;
    text-decoration: none;
    background-color: #23527c;
}

.content-index {
    padding: 20px;
    margin-top: 30px;
    overflow-x: hidden;
}
@media (min-width: 768px) {
    .content-index {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.content-index.page-header {
    margin-top: 0;
}
.header-main {
    padding: 53px 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
a.navbar-brand {
    color: #ffffff;
}
.sidebar-toolbar {
    position: relative;
    z-index: -1;
    background-color: inherit;
    background-position: left top;
    background-size: 100%;
    padding: 25px 20px;
}

.box {
  margin-top: 20px;
}

.bigbox {
  height: auto;
}
.smbox {
  height: 150px;
}

.act-right:last-child {
  width:50px;
}

.mbtn {
  margin-left: 3px;
}
